In [11]:
import pandas as pd
df = pd.read_csv("customer.csv")
df = df.iloc[:, 4:]
df.head(10)

  purchased
0        No
1        No
2        No
3        No
4        No
5       Yes
6        No
7       Yes
8        No
9       Yes

In [12]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(df)
le.classes_

C:\Users\USMAN-PC\AppData\Roaming\Python\Python312\site-packages\sklearn\preprocessing\_label.py:97: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array(['No', 'Yes'], dtype=object)

In [13]:
le.transform(df)

C:\Users\USMAN-PC\AppData\Roaming\Python\Python312\site-packages\sklearn\preprocessing\_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 1, 1, 0])

In [14]:
le=pd.DataFrame(le.transform(df),columns=df.columns)

C:\Users\USMAN-PC\AppData\Roaming\Python\Python312\site-packages\sklearn\preprocessing\_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

In [16]:
le.head(10)

   purchased
0          0
1          0
2          0
3          0
4          0
5          1
6          0
7          1
8          0
9          1