In [26]:
import pandas as pd

In [27]:
df = pd.read_csv("customer.csv")
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [28]:
df=df.iloc[:,2:]
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
X_train,X_test,y_train,y_test = train_test_split(df.iloc[:,0:2],df.iloc[:,-1],test_size=0.2)

In [31]:
X_train.head()

     review education
37  Average        PG
20  Average    School
14     Poor        PG
3      Good        PG
42     Good        PG

In [32]:
from sklearn.preprocessing import OrdinalEncoder

oe = OrdinalEncoder(categories=[["Poor","Average","Good"],["School","UG","PG" ]])
oe.fit(X_train)
X_train_scaled = oe.transform(X_train)
X_test_scaled = oe.transform(X_test)

In [33]:
X_train_scaled = pd.DataFrame(X_train_scaled,columns=["Review","Education"])
X_test_scaled = pd.DataFrame(X_test_scaled,columns=["Review","Education"])

In [35]:
X_train.head()

     review education
37  Average        PG
20  Average    School
14     Poor        PG
3      Good        PG
42     Good        PG

In [37]:
X_train_scaled.head()

   Review  Education
0     1.0        2.0
1     1.0        0.0
2     0.0        2.0
3     2.0        2.0
4     2.0        2.0