In [1]:
import pandas as pd
import requests

# python will make http req

In [2]:
#TMDB gives api key and api link to its user 
# after getting key we can run that api link on browswer
# For better understanding we can go and run this api on jsonviewer softwares available

response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

# response check
200 mean normal
500 mean server down
404 erorrooorrrr

In [3]:
response

# convert to json

In [18]:
pd.DataFrame(response.json()["results"]).head()[["id","title","overview","popularity"]]

,id,title,overview,popularity
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,29.9461
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",29.5207
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,23.6364
3,424,Schindler's List,The true story of how businessman Oskar Schind...,13.7040
4,389,12 Angry Men,The defense and the prosecution have rested an...,16.0953

In [55]:


all_dfs = []  # list to collect DataFrames

for i in range(1, 400):
    response = requests.get(
        f'https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={i}'
    )
    
    if response.status_code == 200:
        results = response.json().get("results", [])
        if results:
            my_df = pd.DataFrame(results)[["id", "title", "overview", "popularity"]].head()
            all_dfs.append(my_df)

# ✅ Combine all pages into a single DataFrame
df = pd.concat(all_dfs, ignore_index=True)

# ✅ Now this works — because df is a DataFrame
print(df.head(1))

    id                     title  \
0  278  The Shawshank Redemption

                                            overview  popularity
0  Imprisoned in the 1940s for the double murder ...     29.9461

In [58]:
df

,id,title,overview,popularity
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,29.9461
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",29.5207
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,23.6364
3,424,Schindler's List,The true story of how businessman Oskar Schind...,13.7040
4,389,12 Angry Men,The defense and the prosecution have rested an...,16.0953
...,...,...,...,...
1990,292040,Spooks: The Greater Good,During a handover to the head of counter-terro...,1.4728
1991,48572,Red State,"Set in Middle America, a group of teens receiv...",1.3838
1992,13997,Black Sheep,When dignified Albert Donnelly runs for Govern...,1.9730
1993,308531,Teenage Mutant Ninja Turtles: Out of the Shadows,"After supervillain Shredder escapes custody, h...",6.1874
1994,140222,Love and Honor,When a young soldier in Vietnam gets dumped by...,1.0066

In [59]:
df.to_csv("my_movies.csv")

In [60]:
print
(8+8
     )

16